@using AddressBook.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My AddressBook Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:antiquewhite">
    <div class="navbar navbar-inverse navbar-fixed-top" style="font-size: 1.5em; background-color:orange; color:white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Address Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Groups", "Groups", "Home")</li>
                    <li>@Html.ActionLink("Add Contact", "Index", "Add")</li>
                </ul>
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5" style="padding-top: 5px">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "navbar-form" }))
                    {

                        <div class="input-group">
                            @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Key words" })
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content" style="background-color:white; padding-top:2em;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My AddressBook Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
