@model IEnumerable<AddressBook.Models.Contact>
@using AddressBook.Models

    @{
    ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>  
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>        
            <td>
                @Html.DisplayFor(modelItem => item.Name.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
            </td>
        </tr>
    }

    </table>
