@model IEnumerable<AddressBook.Models.Contact>
@using AddressBook.Models

    @{
    ViewBag.Title = "Index";
    }

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

    <p>
        <div class="form-inline">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
                    <div class="input-group">
                        @Html.DropDownList("GroupId",
                    (SelectList)ViewBag.GroupsSelectListItems, "Select a Group", new { @class = "form-control" })
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default ">Filter<i class="glyphicon glyphicon-filter"></i></button>
                            <input type="hidden" name="Search" id="Search" value="@ViewBag.Search" />
                        </div>
                    </div>
                </div>
            }
        </div>

</p>

<table class="table">
    <tr style="font-size:1.3em; background-color:lightgray;">
        <th>Group</th>
        <th>
            First Name
        </th>
        <th>
            LastName
        </th>
        <th>
        </th>
    </tr>

    @foreach (var group in @ViewBag.Groups)
    {
        if (Model.Where(m => m.Group.GroupName == group.GroupName).FirstOrDefault() != null)
        {
            <tr style="background-color:beige;font-size:1.1em; font-weight:600;">
                <td>@group.GroupName</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            foreach (var item in Model)
            {
                if (item.Group.GroupName == group.GroupName)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name.LastName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Index", "Edit", new { id = item.ContactId }, null) |
                            @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                            @Html.ActionLink("Delete", "Index", "Delete", new { id = item.ContactId }, null)
                        </td>
                    </tr>
                }

            }
        }
    }
</table>

    @*<table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Index", "Edit", new { id = item.ContactId }, null) |
                        @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                        @Html.ActionLink("Delete", "Index", "Delete", new { id = item.ContactId }, null)
                    </td>
                </tr>
            }

</table>*@
